[phases.setup]
nixPkgs = ["python312"]

[phases.install]
cmds = [
    "pip install -r requirements.txt"
]

[phases.build]
cmds = [
    "python -m playwright install --with-deps chromium"
]

[start]
cmd = "bash start.sh"
